/* General Layout */
html, body {
  height: 100%; /* Ensure the html and body use the full height of the viewport */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

body.blog-layout {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #dfdfdf;
}

header.blog-header {
  background-color: rgb(24, 40, 37); /* Dark gray-blue */
  color: #dfdfdf;
  padding: 2rem 1rem;
  text-align: center;
}

.blog-title {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.blog-meta {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #dfdfdf; /* Light gray */
}

/* Blog Content */
main.blog-content {
  flex: 1; /* Allow main content to grow and push the footer down */
  padding: 2rem 1rem;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

main.blog-content p {
  margin: 1.5rem 0;
}

.markdown-image {
  max-width: 100%; /* Scale the image to fit the container */
  width: 100%; /* Match the container width */
  height: auto; /* Maintain aspect ratio */
  margin: 0 auto; /* Center the image horizontally if needed */
  border-radius: 8px; /* Optional: rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: add a shadow */


}

/* Footer */
footer.blog-footer {
  text-align: center;
  padding: 1rem;
  background-color: rgb(24, 40, 37);
  color: #d1d5db; /* Light gray */
  margin-top: 0; /* Remove the top margin */
}

footer.blog-footer p {
  margin: 0;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 100%;
  margin: 1rem auto;
}

.grid-image {
  width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-image:hover {
  transform: scale(2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 90vh; 
  width: auto;
}
/*modal currently not working, using css as a work around for somewhat desired behaviour, to be fixed*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
}


/* Responsive Design */
@media (max-width: 768px) {
  .blog-title {
    font-size: 2rem;
  }

  .blog-content {
    padding: 1.5rem;
  }
}
