/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

/* Hide scrollbar for all elements */
body, .mobile-sidebar {
  overflow-y: scroll; /* Enables scrolling */
  scrollbar-width: none; /* For Firefox */
}

/* For Webkit-based browsers (Chrome, Safari) */
body::-webkit-scrollbar, 
.mobile-sidebar::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

html, body {
  font-family: Arial, sans-serif;
  overflow-x: hidden; /* Prevents horizontal scroll */
  scroll-snap-type: y mandatory; /* Enables vertical scroll snapping */
  height: 100%; /* Ensures the body takes the full height */
}

/* Sidebar Styles */
#sidebar {
  position: fixed;
  top: 0;
  right: -10%; /* Partially visible */
  width: 12.5%; /* 1/8th of the screen */
  height: 100vh;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.3s ease;
  z-index: 100; /* Ensures it stays above main content */
}

.sidebar-hint {
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  color: #fff;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.sidebar-hint span {
  display: inline-block;
  transition: transform 0.3s ease; /* Smooth transition */
}

#sidebar.visible .sidebar-hint span {
  transform: rotate(180deg); /* Rotate to the right when sidebar is expanded */
}


#sidebar ul {
  list-style: none;
  text-align: center;
}

#sidebar ul li {
  padding: 1rem 0;
  cursor: pointer;
  font-size: 1rem;
  transition: font-size 0.3s;
}

#sidebar ul li.active span {
  font-size: 2rem !important; /* Larger font for active section */
}

#sidebar ul li span {
  display: inline-block;
  width: 100%;
  transition: font-size 0.3s ease; /* Smooth transition */
}

.section-marker {
  position: fixed;
  right: 0;
  top: 10vh; /* Adjust as needed */
  background-color: #333;
  color: #fff;
  padding: 1rem;
  font-size: 1rem;
  display: none; /* Hidden by default */
  transition: all 0.3s ease;
  z-index: 100; /* Ensures it stays above main content */
}

.section-marker.active {
  display: block;
  font-size: 1.5rem; /* Larger font for active section */
}

/* Main Content Sections */
section {
  width: 100vw;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  scroll-snap-align: start;
  padding: 0 2rem;
  transition: background-color 0.5s ease;
}

#hero { background-color: #f0f8ff; }
#about { background-color: #e6e6fa; }
#projects { background-color: #fafad2; }
#skills { background-color: #ffe4e1; }
#contact { background-color: #e0ffff; }




.mobile-sidebar {
  display: none;
}

@media (max-width: 768px) {
  .desktop-sidebar {
    display: none; /* Hide desktop sidebar */
  }
  .mobile-sidebar {
    display: block; /* Show mobile sidebar */
  }
}