.hamburger-menu {
  position: fixed;
  bottom: 30%;
  right: 2rem;
  font-size: 2rem;
  background: none;
  border: none;
  color: #333333;
  cursor: pointer;
  z-index: 1501; /* Above the sidebar */
  transition: left 0.3s ease; /* Smoothly move with the sidebar */
}
  
.mobile-sidebar nav {
  position: fixed;
  top: 0;
  right: -70%; /* Initially off-screen */
  width: 70%;
  height: 100vh;
  background-color: #333;
  color: #fff;
  transition: right 0.3s ease;
  z-index: 1000;
}
  
  .mobile-sidebar.open {
    right: 0; /* Show sidebar when open */
  }

  .mobile-sidebar.open .hamburger-menu {
    left: 70%; /* Aligns with the left edge of the sidebar when open */
  }

  .mobile-sidebar ul {
    list-style: none;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers items vertically */
    align-items: center; /* Centers items horizontally */
    text-align: center;
    height: 100%; /* Ensures the sidebar items take up full height */
  }

  .mobile-sidebar ul li {
    padding: 1rem 0;
    margin: 0.5rem 0;
    cursor: pointer;
    width: 80%; /* Adjust as needed for the look */
    background-color: #444; /* Darker shade for contrast */
    border-radius: 10px; /* Rounded corners */
    text-align: center;
    color: #fff;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  
  
  