.projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: 100vh;
    position: relative;
    background-color: rgb(24, 40, 37);
  }
  
  .projects-heading {
    width: 100%; /* Make the heading take the full width of the parent */
    text-align: center; /* Center the text */
    margin-bottom: 1rem; /* Add some space below the heading */
    color: rgb(244, 224, 77); /* Optional: set color to contrast with background */
  }
 
  .projects-text-box {
    background-color: #dfdfdf;
    border-radius: 10px;
    padding: 2rem;
    width: 80%;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    position: relative;
    
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
    width: 100%;
    max-width: 1200px;
  }
  
  .project-square {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding-top: 100%; /* Aspect ratio of 1:1 */
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    background-color: #fff;
  }
  
  .project-square:hover {
    transform: scale(1.05);
    cursor: pointer;
  }

  .project-text {
    position: absolute; /* Position the text over the image */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Ensure the text is perfectly centered */
    text-align: center; /* Center the text */
  }

  .project-text p {
    color: #6b0000; /* Make text color white or change as needed */
    font-size: 1.5rem; /* Adjust font size */
    z-index: 1; /* Ensure text appears above the background image */
  }
  