---
import '@fontsource-variable/jost';
import '../styles/global.css';
import '../styles/mobileSidebar.css';
import '../styles/hero.css';
import '../styles/about.css';
import '../styles/projects.css';
import '../styles/skills.css';
import '../styles/contact.css';
import '../styles/underConstruction.css';
import Sidebar from '../components/Sidebar.jsx';
import MobileSidebar from '../components/MobileSidebar.jsx';
import Hero from '../components/Hero.jsx';
import About from '../components/About.jsx';
import Projects from '../components/Projects.jsx';
import Skills from '../components/Skills.jsx';
import Contact from '../components/Contact.jsx';

// List of sections to pass to Sidebar components
const sections = ['me', 'about', 'projects', 'skills', 'contact'];
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
  </head>
  <body>
    <!-- Sidebar Components -->
    
    <!--<div class="desktop-sidebar">
      <Sidebar client:load sections={sections} />
    </div>
    <div class="mobile-sidebar">
      <MobileSidebar client:load />
    </div> -->
    <!-- Main Content -->
    <main class="under-construction">
  <h1>Under Construction</h1>

  <h2 class="subheading">View some of my work</h2>

  <div class="links">
    <a href="/posts/case-study" class="case-study-link">Mobile app design - Coffee brewing tracking</a>
    <a href="/posts/bunnings-tweaks" class="case-study-link">Tweaking the Bunnings website for user experience</a>
  </div>

  <img src="/figmaPortfolio.png" alt="Mockup preview" class="preview-image" />
</main>


    <!-- <main>   Commenting out while rebuilding
      <Hero id="me" client:visible />
      <About id="about" client:load />
      <Projects id="projects" client:load />
      <Skills id="skills" client:load />
      <Contact id="contact" client:load />
    </main> -->
  </body>
</html>
