---
import '../styles/global.css';
import '../styles/mobileSidebar.css';
import Sidebar from '../components/Sidebar.jsx';
import MobileSidebar from '../components/MobileSidebar.jsx';
import Section from '../components/Section.jsx';

// List of sections to pass to Section components
const sections = ['hero', 'about', 'projects', 'skills', 'contact'];
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interactive Portfolio</title>
  </head>
  <body>
    <!-- Sidebar Components -->
    
    <div class="desktop-sidebar">
      <Sidebar client:load />
    </div>
    <div class="mobile-sidebar">
      <MobileSidebar client:load />
    </div>

    <!-- Main Content -->
    <main>
      {sections.map((section, index) => (
        <Section key={section} id={section} index={index} client:visible />
      ))}
    </main>
  </body>
</html>
