---
---
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Projects</a>
<a href="/blog/">Skills</a>
<a href="/blog/">Contact</a>

<style>
    a {
    color: #fff;
    text-decoration: none;
  }
</style>